input:hover{
	transition-duration:0.218s;
	box-shadow: 0px 3px 8px #888888;
}

textarea:hover{
	transition-duration:0.218s;
	box-shadow: 0px 3px 8px #888888;
}

input.input_score{
	width:30px;
}

input.input_course_name{
	width:50px;
}

input.input_course_fullname{
	width:200px;
}

textarea.course_desc{
	resize: none;
}

span.wordCheck{
	font-size:10px;
}

li{
	list-style-type: none;
}

a {
    color: green;
	text-decoration: none;
}

body{
	color:#303030;
}