
@media screen and (max-width: 534px){
	.navbar-searcher{
		display: none !important;
	}
	#navbar_extend_div{
		display: initial !important;
	}
	#course_desc_input_box_div{
		bottom: 0px !important;
		padding-left: 0px !important;
		margin-bottom: auto !important;
	}
	textarea.course_desc{
		width: 80vw !important;
		height: 20vh !important;
	}
	.footer_icon_div{
		margin-left:40vw !important;
	}
	.footer_div{
		height: 100px;
	}
}

@media screen and (max-width: 950px){
	nav.navbar{
		background: #333D4F;
		background: rgba(0, 13, 35, 0.8);
	}
	nav.navbar a{
		color:#b0b389;
	}
	.navbar-header{
		margin-left:10px;
	}
	.navbar-body{
		display: none !important;
	}
	button.navbar-search-button{
		background-color: #fff98b !important;
	}
	img.bigqr{
		width:200px;
		height:200px;
	}
	.footer_div{
		background-color: #242729 !important;
		color: #bbc0c4;
	}
}

.navbar{
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 17px;
	background: #AF4147;
	background-color: rgba(197, 45, 45, 0.8);
	z-index: 1;
}
.navbar-ul{
	margin: 0px;
	padding:0px;
}
.navbar-li{
	display: inline-block;
	margin-right: 10px;
}
.navbar-header{
	float: left;
	height:60px;
	width: 220px;
	margin-right: 10px;
	margin-left: 20px;
}
#brand_img{
	width: 100%;
	height: 100%;
}
.navbar-body{
	display: inline-block;
	position: relative;
	top: 12px;
}
.navbar-searcher{
	position: relative;
	top: 12px;
	display: inline-block;
}
.navbar-search-input{
	border-radius: 7px;
	border: 1px solid #ccc;
	height: 30px;
	width: 40vw;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}
.navbar-search-button{
	display: inline-block;
	height: 34px;
	border:2px;
	border-radius: 7px;
	cursor: pointer;
	background-color: #ecdb28;
}
#navbar_extend_div{
	display: none;
	float: right;
	margin-right: 3vw;
}
#navbar_extend_div .extend{
	display: initial !important;
	-webkit-animation: extend 0.5s;
	animation: extend 0.5s;
}
.navbar-extend-input{
	color: #bbc0c4;
	font-size: 16px;
	display: none;
	width: 80vw;
	height: 30px;
	background: #030E1E;
	border: none;
	border-radius: 5px;
	margin-right: 13px;
	text-align: center;
	position: relative;
	top: 15px;
}
#navbar_magnifier{
    cursor: pointer;
	position: absolute;
	top: 16px;
	right: 13px;
}
#navbar_right_arrow{
	display: none;
	position: absolute;
	top: 20px;
	right: 16px;
}

.main_leaderboard{
	height: 14vh;
	min-height: 80px;
}

#index_body_div{
	position: relative;
	padding-left: 20px;
	z-index: 0;
	background-image: url("/static/media/skyline.jpg");
}

.courselist_fullname{
	font-size:12px;
	font-style: italic;
}

input.input_course_name{
	width:70px;
}

input.input_course_fullname{
	width:200px;
}

#course_desc_input_box_div{
	position: relative;
	padding-left: 153px;
	bottom: 20px;
	margin-bottom: -20px;
}

textarea.course_desc{
	resize: none;
	width: 50vw;
	height: 30vh;
}

span.wordCheck{
	font-size:10px;
}

select:hover{
	transition-duration:0.218s;
	box-shadow: 0px 3px 8px #888888;
}

input.hoverinput:hover{
	transition-duration:0.218s;
	box-shadow: 0px 3px 8px #888888;
}

textarea:hover{
	transition-duration:0.218s;
	box-shadow: 0px 3px 8px #888888;
}

.required::after{
	content: "*";
	color: #B71B23;
	display: inline-block;
}

hr{
	width: 90vw;
}

li{
	list-style-type: none;
}

a {
  	color: #356268;
	text-decoration: none;
}

body {
	color: ##404040;
	margin: 0px;
}

.delete_course_div{
	height: 200px;
}

.footer_div {
	background-color: #F2F2F2;
	font-size: 11px;
}

.footer_icon_div {
	display: inline-block;
	margin-left: 5vw;
}

.about_div{
	display: inline-block;
	margin-left: 20px;
}

.footer_div .qrpopup {
    margin-left: -450%;
}

.footer_div .wechatpopup {
    margin-left: -444%;
}

.footer_div .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.icon_common_style{
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 8px;
}

.popup_content_common_style{
    visibility: hidden;
    background-color: #555;
    border-radius: 6px;
    padding: 8px 6px 6px 6px;
    position: absolute;
    bottom: 125%;
}

.footer_div .footer_icon_div span::after{
	content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes extend {
    from {width: 0vw;} 
    to {width: 80vw;}
}

@keyframes extend {
    from {width: 0vw;} 
    to {width: 80vw;}
}