<!DOCTYPE html>
<html>

<head>
{% load static %}
<meta name="author" content="Simon Shen">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{% static 'javascript/index.js'%}"></script>

<title>Rip Test !</title>
</head>

<body>
<div top_div>
	<nav class="navbar">
		<div class="navbar-header"><a class="navbar-brand" href="/index/">Rip Test</a></div>
		<div class="navbar-body">
			<ul class="navbar-ul">
			<li class="navbar-li"><a href="/courses/">Home</a></li>
			<li class="navbar-li"><a href="#">Page1</a></li>
			<li class="navbar-li"><a href="#">Page2</a></li>
			<li class="navbar-li"><a href="#">Page3</a></li>
			</ul>
		</div>
		<div class="navbar-searcher" id="navbarSearcher">
			<form action="/index/" method="get">
			<input type="text" name="subject" placeholder="Search CSC" class="navbar-search-input">
			<span><button type="submit" name="action" value="search_by_subject" class="navbar-search-button">Search</button></span>
			</form>
		</div>
		<div id="navbar_magnifier"><img src="{% static 'media/magnifier.png' %}"></div>
	</nav>
</div>
<div class="main_leaderboard"></div>
<br>
<h1 class="page_title">Rip Test</h1>
<div class="body_div">
	
	<div class="add_course_div">
		<p><b>Create new course</b></p>
		<form action="/index/" method='post'>
		{% csrf_token %}
		<label class="required">course name</label>
		<input type="text" name="course_name" placeholder="Enter new course" class="input_course_name" required>
		<p></p>
		<label>course fullname</label>
		<input type="text" name="course_fullname" placeholder="Enter full course name" class="input_course_fullname">
		<p></p>

		<div>
			<label>course description</label>
			<div id="course_desc_input_box_div">
				<textarea type="text" name="course_description" placeholder="Enter course description" class="course_desc" maxlength="250" onkeyup="checkWord(this);" onPaste="prevent_paste(this);"></textarea>
				<span id="wordCheck" class="wordCheck">250</span><span class="wordCheck">/250</span>
			</div>
		</div>

		<p></p>
		<label>course initial score</label>
		<select name="course_score_initial"><option value=5>5</option><option value=4>4</option><option value=3>3</option><option value=2>2</option><option value=1>1</option></select>
		<p></p>
		<button type="submit" name="action" value="add">Create</button>
		</form>
	</div>
	
	<hr>

	<div class="delete_course_div">
		<p><b>Delete course</b></p>
		<form action="/index/" method='post'>
		{% csrf_token %}
		<label class="required">course name</label>
		<input type="text" name="course_name" placeholder="Enter a course name to delete" required>
		<p></p>
		<button type="submit" name="action" value="delete">Delete</button>
		</form>
	</div>
</div>
<div>
<footer>
<div class="footer_div">
	<div class="about_div">
		<p>Copyright © 2017 Simon Shen; all rights reserved.</p>
	</div>
	<div class="footer_icon_div">
		<div class="qr_div icon_common_style" onclick="show('qr-popup');"><img src="{% static 'media/qr-mini.png' %}"><span class="qrpopup popup_content_common_style" id="qr-popup"><img src="{% static 'media/qr-big.png' %}" class="bigqr"></span></div>
		<div class="wechat_div icon_common_style" onclick="show('wechat-popup')"><img src="{% static 'media/wechat-mini.png' %}"><span class="wechatpopup popup_content_common_style" id="wechat-popup"><img src="{% static 'media/wechat-big.png' %}" class="bigqr"></span></div>
	</div>
</footer>
</div>
</body>

</html>