<!DOCTYPE html>
<html>

<head>
{% load static %}
<meta name="author" content="Simon Shen">

<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script type="text/javascript" src="{% static 'javascript/courses.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Rip My Professor !s</title>
</head>

<body>
<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header"><a class="navbar-brand" href="http://127.0.0.1:8000/courses/">Rip My Professor</a></div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Page1</a></li>
				<li><a href="#">Page2</a></li>
				<li><a href="#">Page3</a></li>
			</ul>
		</div>
	</nav>
</div>
<h1 class="page_title">Rip My Professor</h1>
<div class="body_div">
	<div class="course_list_div">
		{% if courses_list %}
	    <ul>
	    	{% for course in courses_list %}
	    		<div class="courselist_name"><span><a href="/courses/{{ course.name }}/">{{ course.name }}</a></span></div>
	    		<div class="courselist_fullname"><li><a href="/courses/{{ course.name }}/">{{ course.fullname }}</a></li></div>
	        	<br>
	    	{% endfor %}
	    </ul>
		{% else %}
	    	<p>No rip are available.</p>
		{% endif %}
	</div>

	<div>
		<div>
			<form action="http://127.0.0.1:8000/courses/" method="get">
			<input type="text" name="subject" placeholder="Search CSC" class="search_by_subject">
			<span><button type="submit" name="action" value="search_by_subject">Search</button></span>
			</form>
		</div>
	</div>

	<hr>
	
	<div class="add_course_div">
		<p><b>Create new course</b></p>
		<form action="http://127.0.0.1:8000/courses/" method='post'>
		{% csrf_token %}
		<label>course name</label>
		<input type="text" name="course_name" placeholder="Enter new course" class="input_course_name" required>
		<p></p>
		<label>course fullname</label>
		<input type="text" name="course_fullname" placeholder="Enter full course name" class="input_course_fullname">
		<p></p>

		<div>
			<div>
				<label>course description</label>
				<textarea type="text" name="course_description" placeholder="Enter course description" class="course_desc" rows="10" cols="50" maxlength="250" onkeyup="checkWord(this);" onPaste="prevent_paste(this);"></textarea>
				<span id="wordCheck" class="wordCheck">250</span><span class="wordCheck">/250</span>
			</div>
		</div>

		<p></p>
		<label>course initial score</label>
		<input type="text" name="course_score_initial" placeholder="Enter initial score" class="input_score">
		<p></p>
		<button type="submit" name="action" value="add">Create</button>
		</form>
	</div>
	
	<hr>

	<div class="delete_course_div">
		<p><b>Delete course</b></p>
		<form action="http://127.0.0.1:8000/courses/" method='post'>
		{% csrf_token %}
		<label>course name</label>
		<input type="text" name="course_name" placeholder="Enter a course name to delete" required>
		<p></p>
		<button type="submit" name="action" value="delete">Delete</button>
		</form>
	</div>

</div>
</body>

</html>